body {
    margin: 0
    }

/*LOGO*/

.logo{
    width: 100%;
    height: 120px;
}

.logo-wix{
    width: 75.4px;
    height: 29px;
    background: url(img/wix-logo.svg);
}

.logo-flex{
    padding-top: 20px;
    padding-left: 70px;
}


/*CONTAINER*/

.container{
    width: 815px;
    height: 640px;
    margin: auto;
    background-color: aqua;
}

.con-exit{
    display: inline;
    font-family:'HelveticaNeueW01-Thin', 'HelveticaNeueW02-Thin', 'HelveticaNeueW10-35Thin', sans-serif;
    font-size: 56px;
    font-weight: 700;
}

.con-d-h{
    
    font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
    font-size: 18px;
    font-weight: 400;
    vertical-align: baseline;
}

.con-1{
    height: 75px;
    text-align: center;
    background-color: bisque;
}

.con-2{
    text-align: center;
    height: 50px;
    background-color: azure;
}

.con-href{
    text-decoration: none; 
    color: #116dff;
}


/*Loginn - Registration*/

.log-reg{
    height: 300px;
    display: flex;
}

/*REGIST*/

.lr-regist{
    width: 335.625px;
    height: 300px;
}

.reg-el{
    width: 100%;
    padding-top: 20px;
    height: 50px;
    margin-top: 10px;
    background-color: gold;
}

.reg-log{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding-top: 10px;
    background-color: khaki;
}

.reg-info{
    width: 100%;
    height: 55px;
    margin-top: 10px;
    background-color: violet;
}

.reg-buttom{
    width: 100%;
    height: 75px;
    background-color: lightcoral;
}

#type{
    width: 99%;
    height: 40px;
    border-width: 0px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    outline: none;
}

/*CHECKBOX / REGISTRATIOM*/

#checkbox{
    font-size: 17px;
    line-height: 22px;
    font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
}

.checkbox{
    width: 16px;
    height: 16px; 
}

.checkbox-href{
    text-decoration: none;
    font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
    color: black;
    margin-left: 23.7px;
}

.checkbox-href:hover{
    color: #116dff;
}

/*BUTTON / REGISTRATION*/

.buttom{
    margin-top: 25px;
    border-radius: 20px;
    font-size: 17px;
    background-color: white;
    color: #116dff;
    border-color: #116dff;
    min-width: 150px;
    min-height: 38px;
    transition: all 0.6s ease;
}

.buttom:hover{
    color: #fff;
    background-color: #116dff;
}



/*LINE*/

.lr-line{
    width: 143.75px;
    height: 300px;  
}

.lr-line-1{
    height: 300px;
    width: 1px;
    margin: auto;
    opacity: .8;
    background-color: #858f96;

}

/*LOGINN*/

.lr-log{
    width: 335.625px;
    height: 300px;
    background-color: yellow;
}


